<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Tableau de bord
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
</li>
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Eleves
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('ecole_new') }}" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter un eleve</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ecole_index') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Liste des eleves </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter un censeur</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Classe
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('ecole_new') }}" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter une classe</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ecole_index') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Liste des classe</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter un censeur</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
            Matiere
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('ecole_new') }}" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter une Matiere </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ecole_index') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Liste des matieres</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Matiere classe</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
           Professeurs
            <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('ecole_new') }}" class="nav-link active">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Ajouter une prof</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ecole_index') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Liste des profs</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Attribut prof-classe</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('censeur_new') }}" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Attribut prof-matiere</p>
            </a>
        </li>
    </ul>
</li>

