{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecole</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ecole.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ecole.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ ecole.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ ecole.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ ecole.mail }}</td>
            </tr>
            <tr>
                <th>Codetelephone</th>
                <td>{{ ecole.codeTelephone }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ ecole.logo }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if ecole.dateCreation %}{{ ecole.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if ecole.dateModification %}{{ ecole.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ecole_edit', { 'id': ecole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
